
body{
    margin: 0;
    padding: 0;
}

.greyed{
    color:grey;
}

.axis-label {
    fill: #000;
    font-size: 16px;
    text-anchor: middle;
  }

  .tableHeadline{
    font-size: 12px
}

.custom-tooltip{
    outline: 1px solid;
}