
body{
    margin: 0;
    padding: 0;
}

.additionalRowStyle {
    padding-top: 20px;
}

.headmapHeadline{
    font-size: 12px
}

.custom-tooltip{
    outline: 1px solid;
}
.greyed{
    color:grey;
}

.axis-label {
    fill: #000;
    font-size: 16px;
    text-anchor: middle;
  }

#countrySelect {
    float:right;
    margin-top:-1.5rem;
}

#rankChartCol {
    height:100%;
    width:100%;
}

#rank_chart {
    height:100%;
    width:100%;
}